#:tape.datascript.controller{:key [:tape/const]
                             :add [:tape.mvc.controller/cofx]
                             :set [:tape.mvc.controller/fx]
                             :load-fx [:tape.mvc.controller/fx]
                             :dump-fx [:tape.mvc.controller/fx]}
